.header {
  background-image: url("../assets/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header img {
  margin-inline: auto;
  margin-bottom: 50px;
  padding-top: 100px;
}

.header h1 {
  margin-bottom: 20px;
}

.header p {
  margin-inline: auto;
  margin-bottom: 40px;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-inline: 35px;
}

@media screen and (max-width: 530px) {
  .header {
    background-image: url("../assets/images/bg-header-mobile.png");
  }
  .cta {
    gap: 30px;
    flex-direction: column;
    /* align-items: center; */
  }
}
